#ifndef SQLITE_TG_H
#define SQLITE_TG_H


#ifndef SQLITE_CORE
#include "sqlite3ext.h"
#else
#include "sqlite3.h"
#endif

#ifdef SQLITE_TG_STATIC
  #define SQLITE_TG_API
#else
  #ifdef _WIN32
    #define SQLITE_TG_API __declspec(dllexport)
  #else
    #define SQLITE_TG_API
  #endif
#endif

#define SQLITE_TG_VERSION "v${VERSION}"
#define SQLITE_TG_DATE "${DATE}"
#define SQLITE_TG_SOURCE "${SOURCE}"

#ifdef __cplusplus
extern "C" {
#endif


SQLITE_TG_API int sqlite3_tg_init(sqlite3 *db, char **pzErrMsg,
                    const sqlite3_api_routines *pApi);

#ifdef __cplusplus
}  /* end of the 'extern "C"' block */
#endif

#endif /* ifndef SQLITE_TG_H */
