#include "sqlite3ext.h"

#define SQLITE_TG_VERSION "${VERSION}"
#define SQLITE_TG_DATE "${DATE}"
#define SQLITE_TG_SOURCE "${SOURCE}"


int sqlite3_tg_init(sqlite3 *db, char **pzErrMsg,
                    const sqlite3_api_routines *pApi);
