[project]
name = "sqlite-utils-sqlite-tg"
version = "${VERSION}"
description = "TODO"
readme = "README.md"
authors = [{name = "Alex Garcia"}]
license = {text = "Apache-2.0"}
classifiers = []

dependencies = [
    "sqlite-utils",
    "sqlite-tg"
]

[project.urls]
Homepage = "https://github.com/asg017/sqlite-tg"
Changelog = "https://github.com/asg017/sqlite-tg/releases"
Issues = "https://github.com/asg017/sqlite-tg/issues"

[project.entry-points.sqlite_utils]
sqlite_tg = "sqlite_utils_sqlite_tg"
